# Copy this file to: mobile/android/keystore.properties
# and update values with your real keystore credentials.

MYAPP_UPLOAD_STORE_FILE=../keystore/play-upload-key.jks
MYAPP_UPLOAD_KEY_ALIAS=your_key_alias
MYAPP_UPLOAD_STORE_PASSWORD=your_store_password
MYAPP_UPLOAD_KEY_PASSWORD=your_key_password
